<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Pizza App</title>
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css">

    <style>
      body {
        background-image: url('../static/images/pizza.jpg');
        background-size: 100% 100%;
      }
    </style>

    <nav>
      <ul>
        <li><a href="/" role="button" class="contrast">Home</a></li>
      </ul>
  
    </nav><br><br>
  </head> 
  <body>
    {% block content %}
    {% endblock %}
    <footer></footer>
    </body>
</html>